body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
}
#myButton{
    font-size: 200%;
    padding: 5px 20px;
    border-radius: 5px;
}
#mylabel{
    font-size: 200px;

}