#container {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 50px;
}

button {
    font-size: 1.2em;
    padding: 8px 15px;
    border-radius: 10px;
    border: 2px solid black;
    background-color: rgb(71, 71, 221);
    color: aliceblue;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: aqua;
    color: black;
}

#DiceResult {
    margin-top: 20px;
    font-size: 1.2em;
}

#DiceImages img {
    width: 80px;
    height: 80px;
    margin: 5px;
}